.App{
  display: flex;
  flex-direction: row;
  text-align: center;
}
.SideBar{
  width: 300px;
  display: flex;
  flex-direction: column;
  padding-top: 10%;
  background-color: #7fffd4;
}
.Layout{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.Header{
  height: 20vh;
  background-color: #ffebcd;
}
.Content{
  display: flex;
  align-items: center;
  height: 60vh;
  background-color: #f0f8ff;
}
.Footer{
  height: 20vh;
  background-color: #ffebcd;
}
label, textarea{
  display: inline-block;
  width: 100px;
  text-align: left;
}
#name, #address{
  width: 150px;
}
.menu{
  padding: 20px;
}
.Form{
  margin: auto;
}